/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
  -webkit-user-drag: element;
}

body {
  font-family: "Lato", sans-serif;
  color: #444444;
  width: 100%;
}

h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 36px;
  letter-spacing: 7px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

ul {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 36px;
  }
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 24px;
  }
  ul {
    font-size: 24px;
  }
}

.highlight {
  color: #da0037;
}

.highlight-icon {
  -webkit-filter: invert(8%) sepia(78%) saturate(6869%) hue-rotate(334deg) brightness(123%) contrast(120%);
          filter: invert(8%) sepia(78%) saturate(6869%) hue-rotate(334deg) brightness(123%) contrast(120%);
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.fw-title {
  font-weight: 900;
}

.section-center {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
  width: 100%;
}

.section-title {
  text-align: center;
  max-width: 35ch;
  margin: 0 auto;
  padding-bottom: 4rem;
}

.section-title h4 {
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .section-center {
    padding: 0 5rem;
  }
  .section-title {
    text-align: center;
    max-width: 58ch;
    margin: 0 auto;
    padding-bottom: 4rem;
  }
  .section-title h4 {
    padding-bottom: 8px;
  }
}
/*# sourceMappingURL=Global.css.map */