@import './Variables.scss';
@import './CSSReset.scss';

body {
	font-family: $primaryFont;
	color: $secondaryColor;
	width: 100%;
}

h1 {
	font-family: $titleFont;
	font-size: $fontsize__mobile__title;
	letter-spacing: 7px;
}

h2 {
	font-size: $fontsize__mobile__xl;
}

h3 {
	font-size: $fontsize__mobile__l;
}

h4 {
	font-size: $fontsize__mobile__m;
}

p {
	font-size: $fontsize__mobile__m;
}

ul {
	font-size: $fontsize__mobile__m;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: $fontsize__title;
	}

	h2 {
		font-size: $fontsize__m;
	}

	h3 {
		font-size: $fontsize__l;
	}

	h4 {
		font-size: $fontsize__s;
	}

	p {
		font-size: $fontsize__s;
	}

	ul {
		font-size: $fontsize__s;
	}
}

.highlight {
	color: $highlightColor;
}

.highlight-icon {
	filter: invert(8%) sepia(78%) saturate(6869%) hue-rotate(334deg) brightness(123%) contrast(120%);
}

.fw-light {
	font-weight: $fontweight_light;
}

.fw-regular {
	font-weight: $fontweight_regular;
}

.fw-bold {
	font-weight: $fontweight_bold;
}

.fw-title {
	font-weight: $fontweight_title;
}

.section-center {
	max-width: 1900px;
	margin: 0 auto;
	padding: 0 1rem;
	overflow: hidden;
	position: relative;
	z-index: 2;
	width: 100%;
}

.section-title {
	text-align: center;
	max-width: 35ch;
	margin: 0 auto;
	padding-bottom: 4rem;

	h4 {
		padding-bottom: 8px;
	}
}

@media screen and (min-width: 768px) {
	.section-center {
		padding: 0 5rem;
	}

	.section-title {
		text-align: center;
		max-width: 58ch;
		margin: 0 auto;
		padding-bottom: 4rem;

		h4 {
			padding-bottom: 8px;
		}
	}
}
